@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: url("./Assets/pizza.jpg");
  background-size: cover;
}
.App {
  color: #f4e4de;
  display: flex;
  flex-direction: column;
}

.nav-bar {
  color: #f4e4de;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar h2 {
  font-size: 2.3rem;
  padding-left: 1rem;
}
.red-color {
  color: #f37c5b;
}
.link-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
}

.link-holder a {
  text-decoration: none;
  color: #f4e4de;
  margin: 0.3rem;
  padding: 0.6rem;
  background: #8f3b24;
  letter-spacing: 0.2rem;
  font-weight: bold;
  border-radius: 2rem;
}

.middle-text {
  padding-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.hungry-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hungry-btn a {
  background-color: #8f3b24;
  border: none;
  color: white;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7rem;
  border-radius: 1rem;
}

.hungry-btn a:hover {
  background-color: #f4e4de;
  color: #f37c5b;
  font-weight: bold;
  cursor: pointer;
}

.hungry-btn Link {
  text-decoration: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-block {
  width: 60%;
  height: 100vh;
  background: #8f3b24;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tan-bar {
  width: 100%;
  height: 6%;
  background: #3d405b;
}

.form-block h3 {
  font-size: 3rem;
  background: #3d405b;
}

.form-inner-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"] {
  width: 100%;
  padding: 0.6rem;
  margin: 1rem;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

label {
  font-size: 1.4rem;
  margin-left: 2rem;
}

.tan-bar2 {
  margin-top: 3rem;
  width: 100%;
  height: 3%;
  background: #3d405b;
}

.toppings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.form-block h4 {
  font-size: 1.3rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn button {
  margin-top: 1rem;
  border: none;
  background-color: #3d405b;
  color: #f4f1de;
  padding: 0.6rem;

  font-size: 1.5rem;
}

.order-printer {
  width: 60%;
  background: #8f3b24;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-printer h2 {
  color: #3d405b;
  background: #f4e4de;
  font-size: 3rem;
}
